/*
    Progress bar.
    Notes: Set the width for a progress bar using inline styles.
*/

.bar {
    height: 10px;
}

.bar__progress {
    background-color: #446ac2;
    height: inherit;
}

.bar__progress--warning {
    background-color: #f3a536;
    height: inherit;
}

.bar__progress--alert {
    background-color: #ce0a24;
    height: inherit;
}

.bar_background {
    background-color: #e5e5e5;
    height: inherit;
}
