.chart {
}

.chart_reference_values {
    font-weight: 700;
    font-family: Arial;
}

.chart_reference_pentagon {
    stroke: #d8d8d8;
    fill-opacity: 0;
}

.chart_reference_spot {
    fill: #d8d8d8;
    stroke: #ffffff;
}

.chart_data_production {
    fill: #19316b;
    fill-opacity: 1;
}

.chart_data_oee {
    fill: #28499d;
    fill-opacity: 0.9;
}

.chart_data_waste {
    fill: #4167be;
    fill-opacity: 0.9;
}

.chart_data_waste {
    fill: #4167be;
    fill-opacity: 0.9;
}
