/*
    Event component and its timeline.
*/

.event {
    width: 100%;
    height: 255px;
    border: 1px solid #faf9f9;
    background-color: #ffffff;
    box-shadow: 1px 2px 8px 0px rgba(0,0,0,0.1);
}

.event__header {
    width: inherit;
    height: 69px;
    display: flex;
    padding-left: 33px;
    padding-right: 43px;
}

.event__header__title {
    width: 100%;
    height: inherit;
    padding-top: 26px;
    padding-left: 8px;
}

.event__header__title__main {
    margin-right: 9px;
    font-weight: 700;
    font-size: 22px;
}

.event__header__title__minor {
    padding-top: 2px;
    color: #a4a4a4;
    text-transform: uppercase;
    font-size: 13px;
}

.event__rule {
    width: calc(100% - 33px - 43px);
    height: 1px;
    margin-left: 33px;
    margin-right: 43px;
    background-color: #e5e5e5;
}

.event__body__container {
    position: absolute;
    width: 510px;
    height: 187px;
    overflow-x: hidden;
}

.event__body {
    position: absolute;
    padding-top: 10px;
    height: 100%;
}

.event__body__timeline {
    height: 3px;
    margin-top: 75px;
    background-color: #e4e4e4;
}

.event__body__timeline__progress {
    height: inherit;
    background-color: #3862c0;
}

.event__body__situation__type1 {
    position: inherit;
    height: 62px;
    width: 170px;
    cursor: default;
}

.event__body__situation__type1__time {
    font-size: 15px;
    font-weight: 700;
}

.event__body__situation__type1__name {
    color: #a4a4a4;
    font-size: 13px;
    text-transform: uppercase;
}

.event__body__situation__type1_point {
    position: absolute;
    bottom: 0;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #3862c0;
    border: 1px solid #ffffff;
}

.event__body__situation__type1_point--warning {
    position: absolute;
    bottom: 0;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #f3a636;
    border: 1px solid #ffffff;
}

.event__body__situation__type1_point--info {
    position: absolute;
    bottom: 0;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #000000;
    border: 1px solid #ffffff;
}

.event__body__situation__type2 {
    position: inherit;
    height: 62px;
    width: 170px;
    padding-top: 18px;
    cursor: default;
}

.event__body__situation__type2__time {
    font-size: 15px;
    font-weight: 700;
    text-align: right;
}

.event__body__situation__type2__name {
    color: #a4a4a4;
    font-size: 13px;
    text-transform: uppercase;
    text-align: right;
}

.event__body__situation__type2_point {
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #3862c0;
    border: 1px solid #ffffff;
}

.event__body__situation__type2_point--warning {
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #f3a636;
    border: 1px solid #ffffff;
}

.event__body__situation__type2_point--alert {
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #ce0a24;
    border: 1px solid #ffffff;
}

.event__body__situation__type2_point--info {
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #000000;
    border: 1px solid #ffffff;
}

@media screen and (max-width: 980px) {
    .event__body__container {
        width: 960px;
    }
}
