.event {
    width: 100%;
    height: 255px;
    padding-left: 33px;
    padding-right: 43px;
    border: 1px solid #faf9f9;
    background-color: #ffffff;
    /*border: 1px solid #faf9f9;*/
    box-shadow: 1px 1px 4px 0px #faf9f9;
}

.event__header {
    width: inherit;
    height: 69px;
    display: flex;
    background-color: Highlight;
}

.event__header__title {
    width: 100%;
    height: inherit;
    padding-top: 26px;
    padding-left: 8px;
    /*background-color: Highlight;*/
}

.event__header__title__main {
    font-weight: 700;
    font-size: 22px;
    margin-right: 9px;
}

.event__header__title__minor {
    text-transform: uppercase;
    color: #a4a4a4;
    font-size: 13px;
    padding-top: 2px;
}

.event__rule {
    width: 100%;
    height: 1px;
    /*background-color: red;*/
    background-color: #e5e5e5;
}

.event__body {
    overflow-x: auto;
    overflow-y: hidden;
    background-color: orange;
    width: inherit;
    height: 187px;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    width: calc(100% + 33px + 43px);
    margin-left: -33px;
    /*padding-left: -8px;
    padding-right: -8px;*/
    /*padding-top: 4px;*/
}
