.event {
    width: 100%;
    height: 255px;
    /*padding-left: 33px;
    padding-right: 43px;*/
    border: 1px solid #faf9f9;
    background-color: #ffffff;
    /*border: 1px solid #faf9f9;*/
    box-shadow: 1px 1px 4px 0px #faf9f9;
}

.event__header {
    width: inherit;
    height: 69px;
    display: flex;
    background-color: Highlight;
    padding-left: 33px;
    padding-right: 43px;
}

.event__header__title {
    width: 100%;
    height: inherit;
    padding-top: 26px;
    padding-left: 8px;
    /*background-color: Highlight;*/
}

.event__header__title__main {
    font-weight: 700;
    font-size: 22px;
    margin-right: 9px;
}

.event__header__title__minor {
    text-transform: uppercase;
    color: #a4a4a4;
    font-size: 13px;
    padding-top: 2px;
}

.event__rule {
    width: calc(100% - 33px - 43px);
    height: 1px;
    /*background-color: red;*/
    margin-left: 33px;
    margin-right: 43px;
    background-color: #e5e5e5;
}

.event__body {
    position: absolute;
    overflow-x: auto;
    overflow-y: hidden;
    /*background-color: orange;*/
    width: 510px;
    height: 187px;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}


.event__body__timeline {
    height: 3px;
    margin-top: 75px;
    /*background-color: #e4e4e4;*/
    background-color: green;
}

.event__body__timeline__progress {
    height: inherit;
    /*background-color: #e4e4e4;*/
    background-color: #3862c0;
}

.event__body__situation {
    position: inherit;
    display: flex;
    flex-direction: column;
    top: 30px;
    left: 41px;
    height: 62px;
    width: 170px;
    border: 1px solid red;
}

.event__body__situation__time {
    font-size: 15px;
    font-weight: 700;
}

.event__body__situation__name {
    text-transform: uppercase;
    color: #a4a4a4;
    font-size: 13px;
}

.event__body__situation_point--level0 {
    position: absolute;
    bottom: 0;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #3862c0;
    border: 1px solid #ffffff;
}
