/*
    Main header.
*/

.header {
    position: absolute;
    width: 1600px;
    height: 115px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color: #ffffff;
    border-bottom: 1px solid #e8e5e2;
    box-shadow: 1px 2px 8px 0px rgba(0,0,0,0.1);
}

.header__title {
    margin-top: 5px;
    margin-left: 135px;
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
}

.header__dateTime__container {
    margin-right: 50px;
}

.header__dateTime__time {
    font-size: 22px;
    font-weight: 700;
    text-align: right;
}

.header__dateTime__date {
    color: #84848c;
    font-size: 13px;
    text-transform: uppercase;
}

@media screen and (max-width: 980px) {
    .header {
        width: 960px;
    }

    .header__title {
        margin-left: 33px;
    }
}
