/*
    Motion and mobile view.
*/

.mobility {
    position: absolute;
    top: 115px;
    width: 1600px;
    height: 1062px;
    background-color: #f4f0ea;
}

.mobility__body {
    width: inherit;
}

.mobility__body__containers {
    height: 837px;
    display: flex;
    justify-content: space-between;
    margin: 63px 50px 45px 47px;
}

.orders__container {
    width: 965px;
    display: flex;
    flex-direction: column;
}

    .orders__container .order {
        margin-bottom: 33px;
    }

        .orders__container .order:last-of-type {
            margin-bottom: 0;
        }

.contextual__container {
    display: flex;
    flex-direction: column;
    width: 510px;
}

    .contextual__container > div {
        margin-bottom: 33px;
    }

        .contextual__container > div:last-child {
            margin-bottom: 0;
        }

@media screen and (max-width: 980px) {
    .mobility__body__containers {
        height: auto;
        display: inline;
        margin: 63px 50px 45px 47px;
    }

    .contextual__container {
        width: 963px;
    }

        .contextual__container > div {
            margin-bottom: 33px;
        }

            .contextual__container > div:first-child {
                margin-top: 33px;
            }

            .contextual__container > div:last-child {
                margin-bottom: 0;
            }
}
