/*
    Series of operators (avatars/users).
*/

.operators {
    position: absolute;
    right: 52px;
    bottom: 136px;
    width: 225px;
    height: 355px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
    pointer-events: none;
}

    .operators * {
        pointer-events: auto;
    }

.operators__list {
}

.operators__list__operator1 {
    width: 198px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 24px;
    padding-top: 2px;
}

    .operators__list__operator1 * {
        cursor: pointer;
    }

.operators__list__operator2 {
    width: 212px;
    height: 157px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;
    padding-left: 0px;
}

    .operators__list__operator2 * {
        cursor: pointer;
    }

.operators__list__operator__label {
    width: 123px;
    height: 31px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    box-shadow: 0 3px 1px 0 rgba(0,0,0,0.1);
}

.operators__list__operator__label2 {
    width: 131px;
    height: 31px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    box-shadow: 0 3px 1px 0 rgba(0,0,0,0.1);
}

.operators__list__operator__label3 {
    width: 113px;
    height: 31px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    background-color: #000000;
    box-shadow: 0 3px 1px 0 rgba(0,0,0,0.1);
}

.operators__list__operator__label__value {
    color: #ffffff;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 2px;
}

.operators__list__operator__icon {
    width: 40px;
    height: 40px;
    color: #ffffff;
    background-color: #000000;
    border-radius: 20px;
    box-shadow: 0 3px 12px 0 rgba(0,0,0,0.5);
    user-select: none;
}

    .operators__list__operator__icon i.material-icons.md-39 {
        font-size: 39px;
    }

.operators__list__operator__icon--active {
    width: 71px;
    height: 71px;
    color: #ffffff;
    background-color: #000000;
    border-radius: 35px;
    box-shadow: 0 3px 12px 0 rgba(0,0,0,0.5);
}

    .operators__list__operator__icon--active i.material-icons.md-71 {
        font-size: 71px;
    }

.operators__list__operator__iconspecial {
    position: absolute;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 127px;
    margin-top: 35px;
    border-radius: 20px;
    background-color: #ce0a24;
    box-shadow: 0 3px 12px 0 rgba(0,0,0,0.5);
}

.operators__list__operator__iconspecial__value {
    color: #ffffff;
    font-weight: 700;
    font-size: 21px;
    user-select: none;
}

.operators__add {
    display: flex;
    align-items: flex-end padding-right: 10px;
}

.operators__add__icon {
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    color: #ffffff;
    background-color: #446ac2;
    border-radius: 35px;
    box-shadow: 0 3px 15px 0 rgba(0,0,0,0.75);
    cursor: pointer;
    user-select: none;
}

    .operators__add__icon:hover {
        filter: brightness(110%);
    }

    .operators__add__icon i.material-icons.md-40 {
        font-size: 40px;
    }

@media screen and (max-width: 980px) {
    .operators {
        position: fixed;
        bottom: 20px;
        right: 20px;
    }
}
