/**/
.order {
    width: 100%;
    height: 256px;
    background-color: blue;
    display: flex;
    flex-direction: column;
    padding-left: 33px;
    padding-right: 43px;
}
/**/
.order__header {
    background-color: yellow;
    width: inherit;
    height: 69px;
    display: flex;
}

.order__header__pptp {
    width: 100px;
    height: inherit;
    padding-top: 26px;
    padding-left: 8px;
    background-color: Highlight;
}

.order__header__pptp__value {
    font-weight: 700;
    font-size: 22px;
}

.order__header__pptp__caption {
    text-transform: uppercase;
    color: #a4a4a4;
    font-size: 13px;
}

.order__header__identificator {
    width: 150px;
    height: inherit;
    background-color: lightcyan
}

.order__header__spacer {
    flex-grow: 1;
}

.order__header__operators {
    width: 100px;
    height: inherit;
    background-color: lightcoral
}

/**/
.order__rule {
    width: 100%;
    height: 1px;
    background-color: red;
    /*background-color: #e5e5e5;*/
}

/**/
.order__body {
    background-color: orange;
    width: inherit;
    height: 187px;
}
