


/**/
.order {
    width: 100%;
    height: 256px;
    background-color: blue;
    margin-bottom: 33px;
}


/*.order:last-of-type {
        background-color: red !important;
        margin-bottom: 0;
    }*/




.order__header {
}


/**/
.order__pptp {
}

.order__pptp__value {
}

.order__pptp__caption {
}
