/*
    Order component.
*/

.order {
    width: 100%;
    height: 256px;
    display: flex;
    flex-direction: column;
    padding-left: 33px;
    padding-right: 43px;
    background-color: #ffffff;
    border: 1px solid #faf9f9;
    box-shadow: 1px 2px 8px 0px rgba(0,0,0,0.1);
}

.order__header {
    width: inherit;
    height: 69px;
    display: flex;
}

.order__header__operator--inactive {
    color: #d7d7d7;
}

.order__header__operator--active {
    color: #000000;
}

.order__header__pptp {
    width: 100px;
    height: inherit;
    padding-top: 26px;
    padding-left: 8px;
}

.order__header__pptp__value {
    font-weight: 700;
    font-size: 22px;
}

.order__header__pptp__caption {
    text-transform: uppercase;
    color: #a4a4a4;
    font-size: 13px;
}

.order__header__identificator {
    width: 150px;
    height: inherit;
    padding-top: 26px;
    padding-left: 8px;
}

.order__header__identificator__value {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 22px;
}

.order__header__identificator__caption {
    text-transform: uppercase;
    color: #a4a4a4;
    font-size: 13px;
}

.order__header__spacer {
    flex-grow: 1;
}

.order__header__operators {
    width: 100px;
    height: inherit;
    padding-top: 25px;
    text-align: right;
    padding-right: 4px;
}

    .order__header__operators i.material-icons.md-27 {
        font-size: 27px;
    }

.order__rule {
    width: 100%;
    height: 1px;
    background-color: #e5e5e5;
}

.order__body {
    width: inherit;
    height: 187px;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-left: 8px;
    padding-right: 8px;
}

.order__body__produce {
    margin-top: 16px;
    height: 32px;
    display: flex;
    justify-content: space-between;
}

.order__body__produce__production__container {
    width: 730px;
}

.order__body__produce__production__info {
    display: flex;
    height: 22px;
    justify-content: space-between;
}

.order__body__produce__production__info__caption {
    text-transform: uppercase;
    color: #a4a4a4;
    font-size: 13px;
    padding-top: 4px;
}

.order__body__produce__production__info__value {
    font-weight: 700;
    font-size: 18px;
    padding-right: 7px;
}

.order__body__produce__waste_container {
}

.order__body__produce__waste {
    width: 115px;
}

.order__body__produce__waste__info {
    display: flex;
    height: 22px;
    justify-content: space-between;
}

.order__body__produce__waste__info__caption {
    text-transform: uppercase;
    color: #a4a4a4;
    font-size: 13px;
    padding-top: 4px;
}

.order__body__produce__waste__info__value {
    font-weight: 700;
    font-size: 18px;
}

.order__body__equipment {
    margin-top: 15px;
    height: 32px;
}

.order__body__equipment__info {
    display: flex;
    justify-content: space-between;
    height: 22px;
}

.order__body__equipment__info__caption {
    text-transform: uppercase;
    color: #a4a4a4;
    font-size: 13px;
    padding-top: 4px;
}

.order__body__equipment__info__value {
    font-weight: 700;
    font-size: 18px;
}

.order__body__noaccident {
    margin-top: 16px;
    height: 32px;
}

.order__body__noaccident__info {
    display: flex;
    justify-content: space-between;
    height: 22px;
}

.order__body__noaccident__info__caption {
    text-transform: uppercase;
    color: #a4a4a4;
    font-size: 13px;
    padding-top: 4px;
}

.order__body__noaccident__info__value {
}

.order__body__noaccident__info__value__numeric {
    font-weight: 700;
    font-size: 18px;
    margin-right: 2px;
}

.order__body__noaccident__info__value__text {
    font-size: 13px;
}
