/*
    Performance component.
*/

.perfomance {
    width: 100%;
    height: 545px;
    padding-left: 33px;
    padding-right: 43px;
    border: 1px solid red;
    background-color: #ffffff;
    border: 1px solid #faf9f9;
    box-shadow: 1px 2px 8px 0px rgba(0,0,0,0.1);
}

.perfomance__header {
    width: inherit;
    height: 69px;
    display: flex;
}

.perfomance__header__title {
    width: 100%;
    height: inherit;
    padding-top: 26px;
    padding-left: 8px;
}

.perfomance__header__title__main {
    margin-right: 9px;
    font-weight: 700;
    font-size: 22px;
}

.perfomance__header__title__minor {
    padding-top: 2px;
    color: #a4a4a4;
    font-size: 13px;
    text-transform: uppercase;
}

.perfomance__rule {
    width: 100%;
    height: 1px;
    background-color: #e5e5e5;
}

@media screen and (max-width: 980px) {
    .perfomance__body {
        text-align: center;
    }
}
