/*
    Modal dialog ticket details.
*/

.ticket {
    position: absolute;
    width: 1600px;
    height: 1062px;
    z-index: 3;
}

.ticket__window__container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 112px;
}

.ticket__window {
    position: absolute;
    background-color: #ffffff;
    width: 521px;
    height: 354px;
    display: flex;
    flex-direction: column;
}

.ticket__window__main {
    flex-grow: 1;
}

.ticket__window__button {
    height: 65px;
    width: 100%;
    background-color: #446ac2;
    display: flex;
    align-items: center;
    justify-content: center
}

    .ticket__window__button:hover {
        filter: brightness(110%);
    }

.ticket__window__button__info {
    text-transform: uppercase;
    color: #ffffff;
    font-size: 23px;
    font-weight: 700;
}

.ticket__cover {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.7;
}

.ticket__window__main__header {
    width: inherit;
    height: 117px;
    display: flex;
    flex-direction: column;
    padding-left: 33px;
    padding-right: 43px;
}

.ticket__window__main_header__title {
    width: 100%;
    font-size: 25px;
    color: #000000;
    font-weight: 700;
    padding-top: 39px;
    padding-left: 13px;
}

.ticket__window__main__rule {
    width: calc(100% - 33px - 43px);
    height: 1px;
    margin-left: 33px;
    margin-right: 43px;
    background-color: #e5e5e5;
    background-color: red;
}

.ticket__window__main_header__info {
    height: 50px;
    padding-left: 15px;
    padding-top: 7px;
}

.ticket__window__main_header__info__ppt {
    margin-right: 20px;
}

.ticket__window__main_header__info__order {
    margin-right: 13px;
}

.ticket__window__main_header__info__ppt__value,
.ticket__window__main_header__info__order__value,
.ticket__window__main_header__info__worker__value {
    font-size: 23px;
    font-weight: 700;
}

.ticket__window__main_header__info__ppt__value,
.ticket__window__main_header__info__order__value {
    text-transform: uppercase;
}

.ticket__window__main_header__info__ppt__caption,
.ticket__window__main_header__info__order__caption,
.ticket__window__main_header__info__worker__caption {
    font-size: 13px;
    text-transform: uppercase;
    color: #9a9692;
}

.ticket__window__main_header__info__worker__value {
    letter-spacing: -1px;
}

.ticket__window__main__body {
    padding-left: 48px;
    padding-right: 50px;
}

.ticket__window__main__body__recommandations {
    display: flex;
    justify-content: space-between;
    padding-top: 23px;
}

.ticket__window__main__body__recommandations__info,
.ticket__window__main__body__recommandations__chance {
    font-size: 13px;
    text-transform: uppercase;
    color: #9a9692;
}

.ticket__window__main__body__recommandationsdata {
    padding-top: 12px;
}

.ticket__window__main__body__recommandationsdata__line {
    display: flex;
    justify-content: space-between;
    margin-bottom: 9px;
}

.ticket__window__main__body__recommandationsdata__info,
.ticket__window__main__body__recommandationsdata__value {
    font-size: 21px;
    color: #000000;
    font-weight: 700;
    letter-spacing: -0.9px;
}
