.ticket {
    position: absolute;
    width: 1600px;
    height: 1062px;
    z-index: 3;
}

.ticket__window__container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 112px;
}


.ticket__window {
    position: absolute;
    background-color: #ffffff;
    width: 521px;
    height: 354px;
}

.ticket__cover {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.7;
}
