.view {
    width: 1600px;
    height: 1062px;
    /*background-color: #f4f0ea;*/
    background-color: lightcyan;
}

.body {
    width: inherit;
    /*height: 947px;*/
}

.body__containers {
    height: 837px;
    /*background-color: aliceblue;*/
    display: flex;
    justify-content: space-between;
    /*margin: 60px 50px 45px 50px;*/
    margin: 63px 50px 45px 47px;
}

.orders__container {
    /*background-color: green;*/
    width: 965px;
    display: flex;
    flex-direction: column;
}

    .orders__container .order {
        margin-bottom: 33px;
    }

        .orders__container .order:last-of-type {
            /*background-color: red !important;*/
            margin-bottom: 0;
        }

.contextual__container {
    display: flex;
    flex-direction: column;
    /*background-color: orange;*/
    width: 510px;
}

    .contextual__container > div {
        margin-bottom: 33px;
    }

        .contextual__container > div:last-child {
            margin-bottom: 0;
        }
