


/**/
.view__order {
    width: 100%;
    height: 256px;
    background-color: blue;
}






.view__order__header {
}


/**/
.view__order__pptp {
}

.view__order__pptp__value {
}

.view__order__pptp__caption {
}
