


/**/
.view__order {
    width: 100%;
    height: 256px;
    background-color: blue;
    margin-bottom: 33px;
}


    .view__order:last-of-type {
        background-color: red !important;
        margin-bottom: 0;
    }




.view__order__header {
}


/**/
.view__order__pptp {
}

.view__order__pptp__value {
}

.view__order__pptp__caption {
}
