.view {
    width: 1600px;
    height: 1062px;
    background-color: #f4f0ea;
    /*background-color: red;*/
}

.view__body {
    width: inherit;
    height: 947px;
}

.view__body__containers {
    height: 837px;
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
    /*margin: 60px 50px 45px 50px;*/
    margin: 63px 50px 45px 47px;
}

.view__orders__container {
    /*background-color: green;*/
    width: 965px;
    display: flex;
    flex-direction: column;
}

.view__contextual__container {
    /*background-color: orange;*/
    width: 510px;
}
